<section class="about-index">
  <header class="page-header">
    <div class="intro">
      <p>
        <header class="page-header">
    <div class="intro">
      <p> Hello and welcome to Jungle </p>
      <p>
        We want to make it simple for anyone to help the environment by planting trees. Together we can restore forests, create habitat for biodiversity, and make a positive social impact around the world. 
    </p>
      <p> By planting trees for every purchase, we are making big change accessible to everybody and showing the lasting impact that one small choice can have.</p>
       </div>
  </header>

  <div class="products">
    <p> Together with our partners and sponsors, we have planted more than 84 million trees.</p>
  </div>
</section>

  
